@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"); /* ./src/styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

.brand-name {
  font-weight: 600;
}

.fill-indigo {
  fill: #60a5fa;
}

.wavy-underline-green {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #34d399;
}

.wavy-underline-purple {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #1d4ed8;
}

.wavy-underline-yellow {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #fbbf24;
}
